/* Center login card */
.center-content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Restrict login card width */
.login-card {
  width: 350px;
}

/* General page spacing */
.main-content {
  margin-top: 70px;
}